@media only screen and (min-width: 350px) and (max-width: 576px) {
  #crd {
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 5px;
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 0px;
    text-align: center;
    align-items: center;
    background-image: url(http://localhost:3000/static/media/study.b38235f0adcd51a6cd0f.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(90%);
    position: relative;
    background-blend-mode: multiply;
  }
  #crd h1 {
    font-size: 40px;
    color: transparent;
    font-family: primary;
    text-shadow: 1px 0px 0px #fff;
    font-weight: 500;
    position: absolute;
    padding: 0px 0px 0px 0px;
    top: 50px;
    left: 0px;
  }
  .Display {
    height: 90vh;
    position: relative;
    border-radius: 10px;
    margin: 100px 0px 100px 0px;
  }
  #info {
    height: 30px;
    width: 150px;
    background: linear-gradient(45deg, #364fa7, #985bd4);
    color: #fff;
    text-align: left;
    padding: 0px 0px 0px 11px;
    border-top-right-radius: 54px;
    margin: 9px 0px 9px 9px;
    font-family: fangsong;
    text-shadow: 0px 0px 2px #000;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .dev h5,
  h4 {
    font-size: 14px;
    color: #fff;
    margin: 0;
  }
  .dev p {
    font-size: 8px;
    color: #fff;
    padding: 0px 0px 0px 10px;
  }
  .dev ul li {
    list-style: number;
    color: #fff;
    font-size: 8px;
  }
  .dc {
    width: 100%;
    height: 150px;
    /* box-shadow: 0px 0px 1px #fff; */
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    /* border: 1px solid #fff; */
    background-color: #483f3f82;
    display: flex;
    justify-content: center;
  }
  .dc::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 5%;
    height: 95%;
    width: 90%;
    border: 2px solid rgb(153 91 212);
    clip-path: circle(20% at 0 0);
    transform: rotateZ(180deg);
    transition: 0.8s;
    display: none;
  }
  .dc::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    height: 95%;
    width: 90%;
    border: 2px solid #1e4d9c;
    clip-path: circle(20% at 0 0);
    transition: 0.8s;
    display: none;
  }
  .box1 {
    height: 85%;
    width: 80%;
    text-align: center;
    margin: 0px;
    position: absolute;
    z-index: 1;
    top: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }
  .box1 img {
    height: 40%;
    width: 40%;
  }
  .box1 h3 {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    font-family: auto;
    padding: 13px 0px 0px 0px;
  }
  .box1 .read {
    height: 30px;
    width: 100px;
    background-image: linear-gradient(62deg, #004a91 0, #985ad3 85%);
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 6px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #crd {
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 5px;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    /* background: linear-gradient(45deg,rgba(105, 105, 226, 0.65),rgba(223, 127, 127, 0.564)); */
    text-align: center;
    align-items: center;
    background-image: url(http://localhost:3000/static/media/study.b38235f0adcd51a6cd0f.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(90%);
    position: relative;
    background-blend-mode: multiply;
  }
  .dev p {
    font-size: 14px;
    color: #fff;
    padding: 0px 0px 0px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .dev ul li {
    list-style: number;
    color: #fff;
    font-size: 12px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 992px){
  .dev p {
    font-size: 14px;
    color: #fff;
    padding: 0px 0px 0px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .dev ul li {
    list-style: number;
    color: #fff;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
}
