@media only screen and (min-width: 280px) and (max-width: 767px){
    .Header_mail_content svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.Header-icon.css-i4bv87-MuiSvgIcon-root {
         width: 14px;
     }
     button.btn.btn-primary {
         display: block;
     }
     .Header_First-Content .Header_mail_content p {
         margin: 8px 0px 5px 4px;
         font-size: 8px;
         font-weight: 600;
         transition: 0.5s;
     }
     .Header_main-content {
         /* background-color: #021737; */
         background: linear-gradient(to right bottom, #043988, rgb(10 46 109 / 90%));
         width: 100%;
         height: 50px;
         box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: sticky;
         color: #fff;
         top: 0;
         left: 0;
         padding: 9px;
         z-index: 999;
         transition: position 0.3s ease;
     }
     .Header_main-content .logo-content {
         width: 50px;
         height: 45px;
         padding: 3px 3px;
         position: relative;
         border: 2px solid;
         border-radius: 50%;
         padding: 5px;
         left: 4px;
     }
     .Header_main-content .logo-content::before {
         content: "";
         position: absolute;
         top: 2px;
         left: 3px;
         background: linear-gradient(to right top, #ffffff, #f0f0f0);
         width: 90%;
         height: 90%;
         border-radius: 50%;
         transform: scale(1.1);
         z-index: -1;
         border: 2px solid #043988;
     }
      .navbar {
         width: 80%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: nowrap;
         display: none;
     }
     .navbar_phone {
         width: 80%;
         height: 100%;
         display: flex;
      
         align-items: center;
         flex-wrap: nowrap;
     }
     .Header_main-content_phone .navbar_phone ul {
         margin: 0px;
         padding: 0px;
     }
     .Header_main-content_phone .navbar_phone li {
         list-style: none;
    
         margin: 22px 10px;
         font-size: 20px;
         font-weight: 600;
         text-transform: capitalize;
         font-family: auto;
         position: relative;
     }
     .navbar_phone li .Job-courses-details_phone {
         background-color: #ffffff;
         width: 300px;
         height: 0px;
         box-shadow: 0px 0px 1px;
         position: absolute;
         top: 60px;
         left: 0px;
         border-radius: 0px 0px 5px 5px;
         overflow: hidden;
         transition: 0.5s;
         z-index: 999;
     }
     /* .Header_main-content_phone .navbar_phone  li:hover .Job-courses-details_phone{
         height: 420px;
         border-bottom: 5px solid deepskyblue;
         color: #000;
     
     } */
     .offcanvas-header {
         display: flex;
         justify-content: end;
         padding: 15px;
         background-color: #fff;
     }
 }
 @media only screen and (min-width: 767px) and (max-width: 992px) {
    .navbar {
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .Header_main-content .navbar li {
        list-style: none;
        float: left;
        margin: 5px 0px 0px 10px;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        font-family: auto;
        position: relative;
    }
 }