* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

/* foot id section start */

#foot {
    height: 500px;
    background-color: #000;
    color: #fff;
    background-image: url(../../../public//img/back.png);
    background-size: cover;
    background-repeat: round;
}

/* foot id section end */

/* footer div css start */

.footer {
    height: 350px;
    /* border: 2px solid red; */
    margin: 50px 0px 0px 0px;
    text-align: left;
}

.footer img {
    height: 63%;
    width: 54%;
    border-radius: 50%;
    margin: 24px 0px 0px 58px;
    box-shadow: 0px 0px 5px #fff;
}

.footer ul {
    float: left;
    margin: 0px 0px 0px -33px;
}

.footer ul li {
    float: none;
    margin: 8px 0px 0px 0px;
    list-style: none;
    font-size: 17px;
    font-weight: 400;
    font-family: emoji;
    color: #fff;

}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.down.css-i4bv87-MuiSvgIcon-root {
    transform: rotate(269deg);
    font-size: 28px;
    transition: 0.5s;
}

.footer ul li:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.down.css-i4bv87-MuiSvgIcon-root {
    transform: rotate(0deg);
    color: skyblue;
    transition: 0.5s;
    cursor: pointer;
}

.footer ul li:hover {
    color: skyblue;
    transition: 0.5s;
    cursor: pointer;
}

.address h4 {
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    float: left;
    margin: 0px 8px 0px 3px;
    font-family: auto;
}

.address {
    height: 200px;
    /* border: 2px solid red; */
    margin: 20px 0px 0px 0px;
}

.address span {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    margin: 11px 0px 0px 0px;
}

.address ul {
    float: left;
    margin: 14px 0px 0px -43px;
}

.address ul li {
    float: left;
    margin: 0px 0px 0px 10px;
    list-style: none;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.addicon.css-i4bv87-MuiSvgIcon-root {
    font-size: 36px;
    background: #000;
    border-radius: 50%;
    padding: 6px;

    /* border: 2px solid skyblue; */
}

.address ul li:hover svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.addicon.css-i4bv87-MuiSvgIcon-root {
    box-shadow: 0px 0px 10px #fff;
    color: #fff;
    scale: 1.1;
}

.address span:hover {
    color: skyblue;
    transition: 0.5s;
    cursor: pointer;
}

/* footer div css end */