img.w-auto.h-9 {
    height: 124px;
    border-radius: 50%;
    margin-top: -26px;
}
small {
    padding-left: 13px;
}
.text-gray-400 {
    --tw-text-opacity: 14;
    color: rgb(105 152 58);
    font-family: auto;
    font-size: 19px;
}
