
@media only screen and (min-width: 280px) and (max-width: 600px) {
    .main-hadding-component h2 {
      color: #be2222;
      font-size: 26px;
      font-weight: 600;
      margin: 10px 5px;
      font-family: primary;
  }

  .Header_main-content .navbar ul {
    margin: 0px;
    padding: 0px;
    display: none;
}

.slider-context {
    background: linear-gradient(to right bottom, #00000042, #00000050);
    color: #fff;
    width: 100%;
    height: 200px;
    margin: 108px 0px;
    text-align: center;
    font-family: primary, sans-serif;
    border-radius: 5px;
}
  
.Header_First-Content .Header_mail_content p {
    margin: 4px 0px 5px 6px;
    font-size: 6px;
    font-weight: 600;
    transition: 0.5s;
}
.main_text_component h1 {
    font-size: 10vh;
    text-transform: uppercase;
    transform: translateX(170%);
    margin: 0 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: skyblue;
    color: transparent;
}

.main_text_component h2 {
    font-size: 7vh;
    text-transform: uppercase;
    transform: translateX(-170%);
    margin: 0 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: skyblue;
    color: transparent;
}
  }